<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    
</head>
<body>
    <header>
<nav class="navbar">
    <div><a href="/home"><img src="/images/logo-mercado-liebre.svg" alt="logotipo"></a></div>
    <section class="busqueda">
            <div class="buscador"><p>Buscar productos, marcas</p></div>
            <div class="lupa">
                <i class="fas fa-search"></i>
            </div>
        </section>
       <div class="text-header"><p><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin intereses</p></div> 
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
        <div>
<nav class="navbar-menu">
    <div class = "search-bar">
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
</div>
<div class="login-bar">
       <ul>
         <li><a href="/register">Crear tu cuenta<i class="far fa-address-card"></i></a></li>
         <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
         <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
       </ul>
    </div>
</nav>
    </header>

    <main>
        <header>
            <img src="/images/img-home-banner.jpg" alt="banner">
        </header>
        <section class="main">
            <h2>Basado en tu ultima visita</h2>
<section class="main-box">

<article class="box">
    <img src="/images/img-cafetera-moulinex.jpg" alt="">
    <article class= "descripcion">
    <a href=""><i class="fas fa-truck"></i></a>
    <ul><div class="price">
        <li class="precio">$6.770</li>
        <li class="off">40% OFF</li>
    </div>
        <li class="descripto">Cafetera Moulinex</li>
    </ul>
</article>
</article>
<article class="box">
    <img src="/images/img-macbook-pro-2019.jpg" alt="">
    <article class= "descripcion">
    <a href=""><i class="fas fa-truck"></i></a>
    <ul><div class="price">
        <li class="precio">$230.000</li>
        <li class="off">20% OFF</li>
    </div>
        <li class="descripto">MacBook Pro 2019</li>
    </ul>
</article>
</article>
<article class="box">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <article class= "descripcion">
    <a href=""><i class="fas fa-truck"></i></a>
    <ul><div class="price">
        <li class="precio">$70.500</li>
        <li class="off">10% OFF</li>
    </div>
        <li class="descripto">Samsung Galaxy S10</li>
    </ul>
</article>
</article>
<article class="box">
    <img src="/images/img-tv-samsung-smart.jpg" alt="">
    <article class= "descripcion">
    <a href=""><i class="fas fa-truck"></i></a>
    <ul><div class="price">
        <li class="precio">$23.200</li>
        <li class="off">5% OFF</li>
    </div>
        <li class="descripto">SmartTv Samsung 43"</li>
    </ul>
</article>
</article>

</section>
<section>
    <h2>Seccion de ofertas</h2>
    <section class="main-box">
    <article class="box">
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <article class= "descripcion">
        <a href=""><i class="fas fa-truck"></i></a>
        <ul>
            <div class="price">
            <li class="precio">$6.770</li>
            <li class="off">40% OFF</li>
        </div>
            <li class="descripto">Cafetera Moulinex</li>
        </ul>
    </article>
    </article>
    <article class="box">
        <img src="/images/img-macbook-pro-2019.jpg" alt="">
        <article class= "descripcion">
        <a href=""><i class="fas fa-truck"></i></a>
        <ul><div class="price">
            <li class="precio">$230.000</li>
            <li class="off">20% OFF</li>
        </div>
            <li class="descripto">MacBook Pro 2019</li>
        </ul>
    </article>
    </article>
    <article class="box">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        <article class= "descripcion">
        <a href=""><i class="fas fa-truck"></i></a>
        <ul><div class="price">
            <li class="precio">$70.500</li>
            <li class="off">10% OFF</li>
        </div>
            <li class="descripto">Samsung Galaxy S10</li>
        </ul>
    </article>
</article>
    <article class="box">
        <img src="/images/img-tv-samsung-smart.jpg" alt="">
        <article class= "descripcion">
        <a href=""><i class="fas fa-truck"></i></a>
        <ul>
            <div class="price">
            <li class="precio">$23.200</li>
            <li class="off">5% OFF</li>
        </div>
            <li class="descripto">SmartTv Samsung 43"</li>
        </ul>
    </article>
    </article>
</section>
</section>
</section>
    </main>

    <footer>
<article class= "info">
    <section class="dato">
        <i class="fas fa-credit-card"></i>
<h2>Pagá con tarjeta o en efectivo</h2>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="dato">
        <i class="fas fa-gift"></i>
<h2>Envío gratis desde $ 2.500</h2>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="dato">
        <i class="fas fa-user-shield"></i>
<h2>Seguridad, de principio a fin</h2>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
    </section>
</article>
<article class="findepagina">
    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</article>
    </footer>

</body>
</html>