main header img{
    width: 100%;
}

main article img {
    width: 100%;
}

main section h2{
    font-size: 24px;
}

main article ul li.precio {
    font-size: 18px;
}

main article ul li{
    font-size: 16px;
}